// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;      //@1200px /16=75em
$bp-large: 62.5em;      //@1000px /16=62.5em
$bp-medium: 50em;       //@800px /16=50em
$bp-small: 37.5em;      //@600px /16=37.5em


// GLOBAL RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px 10/16
    
    @media only screen and (max-width: $bp-largest) {
        font-size: 50%; // 1rem = 8px
    }
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content); 
        // Row: 
        // 1) Header - scales to 80% of viewport height 
        // 2) Realtors - min-space/height for the content 
        // 3) Story - scale to 40% of viewport width
        // 4) Homes / Gallery / Footer - min-space/height for the content
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; 
        // Columns:
        // Sidebar: 8rem
        // Other 8 Columns:
            // fixed column width -- 1140px/8columns = 142.5 ~ 140px --> 14rem; 
            // but we use minmax() to make it responsive so it can shrink/grow 
            // it will always shrink enough to fit the min-content, but have a maximum width of 14rem
        // 2 minmax(6rem, 1fr) columns that will occupy a minimum of 6rem width & maximum of the remaining space. Also, it will act as bleed columns for the content

    /*
    //SHORTHAND CODE FOR TEMPLATE ROWS & COLUMNS - NEVER USE BC ITS MORE CONFUSING

    grid-template: 80vh min-content 40vw repeat(3, min-content) / [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; 
    
    grid-template: rows / columns; 
    
    */

        
    //removing first column and adding a top row for the new placement of the sidebar
    @media only screen and (max-width: $bp-large) {
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content); 
        grid-template-columns: [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; 
    }

    //moving top3realtors below header && story below story pictures
    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 6rem calc(100vh - 6rem); // added min-content for third row which is for the new are for top3realtors; 100vh calc function for the header to take the entire space where top3realtors used to be--we used calc and subtracted 6rem bc that 6rem was also added to the bottom of the header (which is too much unnecessary extra space) when we added a new top row that was 6rem for the sidebar--this is also so we can start the next section when we start scrolling down;
        // also we removed all the other rows bc the automatic algorithm will take care of aligning to new rows for us
        // the first two rows are the only rows we want to style, the others will be styled according to the size of their content
    }
    
    // Test
    // & > * {
    //     padding: 40px;
    //     font-size: 3rem;
    // }
}