.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;
    background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpeg); // linear gradient to make the bg-img a little darker
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;

    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content); // previously :max-content; changed to minmax(min-content, max-content) for responsiveness
    grid-row-gap: 1.5rem;
    justify-content: center;

    // header takes up the empty space when we removed top3realtors
    @media only screen and (max-width: $bp-large) {
        grid-column: 1 / -1; 
    }

    // lowering padding @600px
    @media only screen and (max-width: $bp-small) {
        padding: 5rem;
    }

    &__logo {
        height: 3rem;
        justify-self: center; // centers logo 
    }


    //height and width fix for the button
    &__btn {
        align-self: start;
        justify-self: start;
    }

    &__seenon-text {
        display: grid;
        grid-template-columns: 1fr max-content 1fr; // 1fr left-line, max-content for text, 1fr for right-line
        align-items: center;
        grid-column-gap: 1.5rem;

        font-size: 1.6rem;
        color: $color-grey-light-2;

        &::before,
        &::after {
            content: "";
            height: 1px;
            display: block;
            background-color: currentColor;
        }
    }

    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
        justify-items: center;
        align-items: center;

        img { // declaring this img directly here bc no class defined
            // height: 2.5rem; // we're giving these logos a defined height only so they look even; if we gave them a width, then they'd have a different height
            
            //we must specify max-height bc the website doesn't shrink the header's width since it is based on these icon's set height from above 2.5rem; we also have to change the grid-template-columns: max-content; to minmax(min-content, max-content) in the header
            max-height: 2.5rem;
            max-width: 100%;
            filter: brightness(70%); // makes the icons look a little faded/darker
        }
    }
}